---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'normalize';

// Fonts
$font-base:        'Open Sans', 'Roboto', sans-serif;
$font-manuscript:  'Nothing You Could Do', cursive;
$font-title:       'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$color-base: #4185f4;
$color-gray: #2C3E50;

$screen-xsmall-max:   767px;
$screen-small-min:    $screen-xsmall-max + 1;
$screen-small-max:    991px;
$screen-medium-min:   $screen-small-max + 1;
$screen-medium-max:   1199px;
$screen-large-min:    $screen-medium-max + 1;
$screen-large-max:    1599px;
$screen-xlarge-min:   $screen-large-max + 1;

@import 'loader';
@import 'label';
@import 'list';
@import 'easter-egg';
@import 'template';
