---
layout: 'no'
title: I'm lovin' I.T. by Julien Sobczak
description: Diary of a Life Long Learner
documentationExpanded: false
postsExpanded: false
author: Julien Sobczak
---
<!DOCTYPE html>
<html lang="en">

<head>

    {% include meta.html %}

    <title>{{page.title}}</title>

    {% include stylesheets.html %}

</head>

<body id="page-home">

    <!-- Navigation -->

    <nav id="mainNav" class="navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">I'm lovin' I.T.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="page-scroll">
                  <a href="#about-blog">About This Blog</a>
              </li>
              <li class="page-scroll">
                  <a href="#about-me">About Me</a>
              </li>
          </ul>
        </div>
          </div>
    </nav>

    <!-- Header -->
    <header id="page-top">
      <div class="container">
        <div id="logo">
          <img src="{{ '/img/me-head.png' | prepend: site.baseurl }}">
        </div>
        <div class="intro-text">
            <span class="name">I'm lovin' I.T.</span><span class="author manuscript">by Julien Sobczak, Programmer</span>
            <hr class="star-light">
            <span class="headline">Diary of a Life Long Learner</span>
            <blockquote>
              <q class="manuscript">Live as if you were to die tomorrow. Learn as if you were to live forever</q> — Gandhi
            </blockquote>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="about-blog" class="widescreen">
      <div class="container">
        <div>
          <h2>About this blog</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="container">
      <div class="categories">
        <div>
          <a href="{{ '/categories/read.html' | prepend: site.baseurl }}"><img src="{{ '/img/imreadinit-icon.png' | prepend: site.baseurl }}" /></a>
          <a href="{{ '/categories/read.html' | prepend: site.baseurl }}"><h3>I'm <span class="text-colored">read</span>in' I.T.</h3></a>
          <p class="manuscript">Find your next technical (or not) book and expand your knowledge</p>
          <ul>
            <li>Latest books:</li>
            {% assign count = 0 %}
            {% for post in site.posts %}
              {% if post.category == 'read' %}
                {% assign count = count | plus: 1 %}
                {% if count < 4 %} <!-- show only 3 last posts -->
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    {% if post.shortTitle %}
                      {{ post.shortTitle }}
                    {% else %}
                      {{ post.title }}
                    {% endif %}
                    ,
                  </a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
            <li>or see them <a href="{{ '/categories/read.html' | prepend: site.baseurl }}">all</a>!
          </ul>
        </div>
        <!-- TODO
          I'm doin' I.T.
          Discover personal projects that could help you while learning
          Highlighted project: evolutio. Your companion to read faster, retain more, or train your brain.
        -->
        <div>
          <a href="{{ '/categories/tell.html' | prepend: site.baseurl }}"><img src="{{ '/img/imtellinit-icon.png' | prepend: site.baseurl }}" /></a>
          <a href="{{ '/categories/tell.html' | prepend: site.baseurl }}"><h3>I'm <span class="text-colored">tell</span>in' I.T.</h3></a>
          <p class="manuscript">Various posts or essays mainly about productivity, learning, soft skills and personal development</p>
          <ul>
            <li>Read the latest posts about</li>
            {% assign count = 0 %}
            {% for post in site.posts %}
              {% if post.category == 'tell' %}
                {% assign count = count | plus: 1 %}
                {% if count < 4 %} <!-- show only 3 last posts -->
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{post.subject}},</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
            <li>or see them <a href="{{ '/categories/tell.html' | prepend: site.baseurl }}">all</a>!
          </ul>
        </div>
        <div>
          <a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}"><img src="{{ '/img/iminspectinit-icon.png' | prepend: site.baseurl }}" /></a>
          <a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}"><h3>I'm <span class="text-colored">inspect</span>in' I.T.</h3></a>
          <p class="manuscript">Stand on the shoulders of giants by learning techniques from top developers.</p>
          <ul>
            <li>Discover the inner working of famous OSS projects:</li>
            {% assign count = 0 %}
            {% for post in site.posts %}
              {% if post.category == 'inspect' %}
                {% assign count = count | plus: 1 %}
                {% if count < 4 %} <!-- show only 3 last posts -->
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.subject }},</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
            <li>or see them <a href="{{ '/categories/inspect.html' | prepend: site.baseurl }}">all</a>!
          </ul>
        </div>
      </div>
      <a href="{{ '/categories/all.html' | prepend: site.baseurl }}" class="btn btn-lg btn-outline btn-outline-colored">
          <i class="fa fa-list"></i> View All Posts
      </a>
    </div>
    </section>


    <!-- About Section -->
    <section class="colored" id="about-me" style="position:relative">
      <div class="container">
        <div>
            <div>
                <h2>About me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col">
              <p>My name is <strong>Julien Sobczak</strong>. <br/>I am a <strong>software developer</strong>.</p>
              <p>Since 2008, I'm been working mainly as a Java Web Developer and now I'm focusing on the Big Data ecosystem.</p>
              <p>I work for <a href="http://zenika.com/">Zenika</a>, a leading consulting company, ranked #4 on the Great Place to Work in France.</p>
            </div>
            <div class="col">
              <p>I have a strong interest in everything that is related to <strong>developer productivity</strong>: deliberate practice, clean code, memory techniques, speed reading, sport programming, and so on.</p>
              <p>The more I learn about my job, the more I realize how less I know but the more I like it, so I do my best to <strong>learn something new every day</strong>!<p>
            </div>
        </div>
        <div>
            <a href="https://fr.linkedin.com/in/julien-sobczak-56780a91" class="btn btn-lg btn-outline">
                <i class="fa fa-user"></i> View Full Profile
            </a>
        </div>
      </div>
    </section>

    {% include footer.html %}
    {% include easter-egg.html %}
    {% include libraries.html %}

</body>

</html>
