<aside id="share" class="sticky aside-left aside-links optional"> <!-- Add optional class to appear on scroll -->
  <span>Share</span>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
        <i class="fa fa-google-plus fa-1x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.baseurl }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
        <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ site.baseurl }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">
        <i class="fa fa-reddit fa-1x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</aside>
