
<section id="labels" class="labels">
  <div class="container">

  <div>
    <h2>Tags</h2>
    <hr class="star-light">
  </div>


  <ul class="labels">
    <!-- TODO refactor remove useless tags and rename them. Ex: agile => people -->
    <!-- <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/agile.html' | relative_url }}"><span class="label-icon label-team-icon label-white-icon"></span><span class="label-text">People<span class="label-count">{{ site.tags.agile | size }}</span></span></a>
      </div>
    </li> -->
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/architecture.html' | relative_url }}"><span class="label-icon label-architecture-icon label-white-icon"></span><span class="label-text">Architecture<span class="label-count">{{ site.tags.architecture | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/classics.html' | relative_url }}"><span class="label-icon label-classics-icon label-white-icon"></span><span class="label-text">Classics<span class="label-count">{{ site.tags.classics | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/craftsmanship.html' | relative_url }}"><span class="label-icon label-craftsmanship-icon label-white-icon"></span><span class="label-text">Craftsmanship<span class="label-count">{{ site.tags.craftsmanship | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/computer-science.html' | relative_url }}"><span class="label-icon label-computer-science-icon label-white-icon"></span><span class="label-text">Computer Science<span class="label-count">{{ site.tags.computer-science | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/data.html' | relative_url }}"><span class="label-icon label-data-icon label-white-icon"></span><span class="label-text">Data<span class="label-count">{{ site.tags.data | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/devops.html' | relative_url }}"><span class="label-icon label-devops-icon label-white-icon"></span><span class="label-text">Devops<span class="label-count">{{ site.tags.devops | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/frameworks.html' | relative_url }}"><span class="label-icon label-frameworks-icon label-white-icon"></span><span class="label-text">Frameworks<span class="label-count">{{ site.tags.frameworks | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/human.html' | relative_url }}"><span class="label-icon label-human-icon label-white-icon"></span><span class="label-text">Human<span class="label-count">{{ site.tags.human | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/languages.html' | relative_url }}"><span class="label-icon label-languages-icon label-white-icon"></span><span class="label-text">Languages<span class="label-count">{{ site.tags.languages | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/learning.html' | relative_url }}"><span class="label-icon label-reversing-icon label-white-icon"></span><span class="label-text">Learning<span class="label-count">{{ site.tags.learning | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/management.html' | relative_url }}"><span class="label-icon label-management-icon label-white-icon"></span><span class="label-text">Management<span class="label-count">{{ site.tags.management | size }}</span></span></a>
      </div>
    </li>
    <!-- Not pertinent
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/popular.html' | relative_url }}"><span class="label-icon label-popular-icon label-white-icon"></span><span class="label-text">Popular<span class="label-count">{{ site.tags.popular | size }}</span></span></a>
      </div>
    </li>
    -->
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/productivity.html' | relative_url }}"><span class="label-icon label-productivity-icon label-white-icon"></span><span class="label-text">Productivity<span class="label-count">{{ site.tags.productivity | size }}</span></span></a>
      </div>
    </li>
    <li>
      <div class="label">
        <span class="sunshine"></span><a href="{{ '/tags/tools.html' | relative_url }}"><span class="label-icon label-tools-icon label-white-icon"></span><span class="label-text">Tools<span class="label-count">{{ site.tags.tools | size }}</span></span></a>
      </div>
    </li>
  </ul>

  </div>
</section>
