<!-- jQuery -->
<script src="{{ '/vendor/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/jquery/jquery.affix.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/jquery/jquery.scrollspy.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/jquery/jquery.easteregg.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/jquery-ui/jquery-ui.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/imagesloaded/imagesloaded.pkgd-fix.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/masonry/masonry.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/vendor/tocify/javascripts/jquery.tocify.min.js' | prepend: site.baseurl }}"></script>
<!-- Asciidoctor assets -->
<script src="{{ '/vendor/modernizr/modernizr.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>

<!-- Theme JavaScript -->
<script src="{{ '/js/classie.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/AnimOnScroll.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/behavior.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/loader.js' | prepend: site.baseurl }}"></script>
