<!-- jQuery -->
<script src="{{page.root}}vendor/jquery/jquery.min.js"></script>
<script src="{{page.root}}vendor/jquery/jquery.affix.js"></script>
<script src="{{page.root}}vendor/jquery/jquery.scrollspy.js"></script>
<script src="{{page.root}}vendor/jquery/jquery.easteregg.min.js"></script>
<script src="{{page.root}}vendor/imagesloaded/imagesloaded.pkgd-fix.js"></script>

<!-- Asciidoctor assets -->
<script src="{{page.root}}vendor/modernizr/modernizr.min.js"></script>
<script src="{{page.root}}js/toc.js"></script>

<!-- Theme JavaScript -->
<script src="{{page.root}}js/behavior.js"></script>
<script src="{{page.root}}js/loader.js"></script>
