<div class="post-preview post-{{post.categories}}-preview style{{ forloop.index0 | modulo:4 | plus:1}}">

  <div class="title">
    {% if post.shortTitle %}
    <h3>{{ post.shortTitle }}</h3>
    {% else %}
    <h3>{{ post.title }}</h3>
    {% endif %}
    {% if post.stars %}
    <div class="review-note">
      <i class="fas fa-star"></i>
      {% if post.stars >= 2 %}
        <i class="fas fa-star"></i>
      {% endif %}
      {% if post.stars >= 3 %}
        <i class="fas fa-star"></i>
      {% endif %}
      {% if post.stars >= 4 %}
        <i class="fas fa-star"></i>
      {% endif %}
      {% if post.stars >= 5 %}
        <i class="fas fa-star"></i>
      {% endif %}
    </div>
    {% endif %}
    <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
    <nav>
      <a href="{{ post.url | relative_url }}"><span data-hover="Read">Read</span></a>
    </nav>
  </div>

  {% comment %}FIXME
  {% if post.image %}
  <div class="image">
    <img class="ignore" src="{{ post.image }}">
    {% comment %}
      We exclude post image from the loader to avoid a long blank screen, waiting to download all 200+ book pictures...
    {% endcomment %}
  </div>
  {% endif %}
  {% endcomment %}

</div>
