<!-- To make search engines use the HTTPS url -->
<link rel="canonical" href="https://www.juliensobczak.com{{page.url}}">
<link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='https://www.juliensobczak.com/feed.xml'>

<!-- Font-Awesome -->
<link href="{{ '/vendor/font-awesome/css/font-awesome.min.css' | prepend: site.baseurl }}" rel="stylesheet" />

<!-- Asciidoctor assets -->
<link href="{{ '/css/coderay.css' | prepend: site.baseurl }}" rel="stylesheet" />
<!--<link rel="stylesheet" href="{{ '/css/asciidoctor.css' | prepend: site.baseurl }}"/>-->

<!-- Theme CSS -->
<link href="{{ '/css/app.css' | prepend: site.baseurl }}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

<!-- TODO
<link rel="icon" href="{{ '/img/favicon-16.png' | prepend: site.baseurl }}" sizes="16x16" type="image/png">
<link rel="icon" href="{{ '/img/favicon-32.png' | prepend: site.baseurl }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ '/img/favicon-48.png' | prepend: site.baseurl }}" sizes="48x48" type="image/png">
<link rel="icon" href="{{ '/img/favicon-62.png' | prepend: site.baseurl }}" sizes="62x62" type="image/png">
<link rel="icon" href="{{ '/img/favicon-192.png' | prepend: site.baseurl }}" sizes="192x192" type="image/png">
-->
