---
layout: default
---

<section class="category-content">

  <div>
    {% if page.tag_name %}
      <h2>{{ page.tag_name }}</h2>
    {% elsif page.category == 'read' %}
      <h2>I'm readin' I.T.</h2>
    {% elsif page.category == 'write' %}
      <h2>I'm writin' I.T.</h2>
    {% elsif page.category == 'inspect' %}
      <h2>I'm inspectin' I.T.</h2>
    {% else %}
      <h2>All posts</h2>
    {% endif %}
    <hr class="star-primary">
  </div>

  <div class="filters">
    {% if page.category == 'read' %}
    <div class="rating-filter">
      Filter by
      <button id="filter-star-1"><i class="far fa-star fa-2x"></i></button>
      <button id="filter-star-2"><i class="far fa-star fa-2x"></i></button>
      <button id="filter-star-3"><i class="far fa-star fa-2x"></i></button>
      <button id="filter-star-4"><i class="far fa-star fa-2x"></i></button>
      <button id="filter-star-5"><i class="far fa-star fa-2x"></i></button>
      <sup class="star-1-label">any rating</sup>
      <sup class="star-2-label">2+ stars</sup>
      <sup class="star-3-label">3+ stars</sup>
      <sup class="star-4-label">4+ stars</sup>
      <sup class="star-5-label">5 stars only</sup>
    </div>
    {% endif %}
    <div class="display-mode">
      Display mode
      <button id="filter-list-mode"><i class="fas fa-list fa-2x"></i></button>
      <button id="filter-grid-mode"><i class="fas fa-th fa-2x"></i></button>
    </div>
  </div>

  {% assign posts = site.posts %}
  {% if page.tag_name %}
    {% assign posts = site.tags[page.tag] %}
  {% elsif page.category == 'read' or page.category == 'write' or page.category == 'inspect' %}
    {% assign posts = site.categories[page.category] %}
  {% endif %}

  <div class="post-list-container post-list grid-view hidden">
    <!-- columns -->
    <div class="grid-col grid-col--1"></div>
    <div class="grid-col grid-col--2"></div>
    <div class="grid-col grid-col--3"></div>
    <div class="grid-col grid-col--4"></div>
    <div class="grid-col grid-col--5"></div>
  
    {% assign previous_style = "1" %}{% comment %}see comment in included file{% endcomment %}
    {% for post in posts %}
      <div class="grid-item {% if post.stars %}item-stars-{{ post.stars }}{% endif %}">
        {% include post-preview-grid.html %}
      </div>
    {% endfor %}
  </div>

  <div class="post-list-container list-view">
    <ul class="post-list">
      {% for post in posts %}
        <li class="list-item {% if post.stars %}item-stars-{{ post.stars }}{% endif %}">
          {% include post-preview-list.html %}
        </li>
      {% endfor %}
    </ul>
  </div>

</section>
