---
layout: default
---

<section class="category-content">

  <div>
    {% if page.category == 'read' %}
      <h2>I'm readin' I.T.</h2>
    {% elsif page.category == 'write' %}
      <h2>I'm writin' I.T.</h2>
    {% elsif page.category == 'inspect' %}
      <h2>I'm inspectin' I.T.</h2>
    {% else %}
      <h2>All posts</h2>
    {% endif %}
    <hr class="star-primary">
  </div>

  <div class="post-list-container mansory-view">
    
    <ul class="post-list">

      {% if page.category == 'read' or page.category == 'write' or page.category == 'inspect' %}
        {% for post in site.categories[page.category] %}
          <li>
            {% include post-preview.html %}
            <div style="clear: both;"></div>
          </li>
        {% endfor %}
      {% else %}
        {% for post in site.posts %}
          <li>
            {% include post-preview.html %}
            <div style="clear: both;"></div>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

</section>
