---
layout: default
---

<section class="category-content" style="text-align: center;">

  <div>
    {% if page.category == 'read' %}
      <h2>I'm readin' I.T.</h2>
    {% elsif page.category == 'watch' %}
      <h2>I'm watchin' I.T.</h2>
    {% elsif page.category == 'write' %}
      <h2>I'm writin' I.T.</h2>
    {% elsif page.category == 'inspect' %}
      <h2>I'm inspectin' I.T.</h2>
    {% else %}
      <h2>All posts</h2>
    {% endif %}
    <hr class="star-primary">
  </div>

  <div id="post-list-container" style="text-align: center;">
    <ul class="post-list" id="post-list">

      {% for post in site.categories[page.category] %}
        <li>
          {% include post-preview.html %}
          <div style="clear: both;"></div>
        </li>
      {% endfor %}

    </ul>
  </div>

</section>
