---
layout: post
---

<section class="content">

  <div class="container sticky-container">

    <aside class="sticky aside-left aside-links"> <!-- Add optional class to appear on scroll -->
      <span>Browse</span>
      <ul>
        {% if page.links.amazon %}
        <li>
          <a href="{{ page.links.amazon }}">
            <i class="fa fa-amazon fa-1x" aria-hidden="true"></i>
          </a>
        </li>
        {% endif %}
        <!-- TODO add goodreads link -->
      </ul>
    </aside>

    <aside class="sticky aside-right aside-picture">
      <span>Cover</span>
      <img src="{{ page.image }}" />
    </aside>


    <article>
    <p class="headline">
      {{ page.headline }}
    </p>

    <div class="star">

      <i class="fa fa-star fa-3x" aria-hidden="true"></i>

      {% if page.note >= 9 %}
        <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      {% endif %}

      {% if page.note >= 11 %}
        <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      {% endif %}

      {% if page.note >= 14 %}
        <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      {% endif %}

      {% if page.note >= 17 %}
        <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      {% endif %}

      <hr/>
    </div>

    {% if page.illustrationUrl %}
    <figure class="illustration">
      <img src="{{ page.illustrationUrl | prepend: site.baseurl }}" class="blur" />
      <figcaption>{{page.illustrationLegend}}</figcaption>
    </figure>
    {% endif %}

    <div class="content">
    {{content}}
    </div>

    {% include my-bio.html %}
    </article>

  </div>
</section>
