---
layout: post
---

<section class="content">

  <div class="container sticky-container">

    <aside class="sticky aside-left aside-links optional"> <!-- Add optional class to appear on scroll -->
      <span>Share</span>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-google-plus fa-1x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-reddit fa-1x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </aside>

    {% if page.toc %}
    <aside id="toc" class="sticky aside-right aside-menu optional">
      <!-- Will be dynamically populated -->
    </aside>
    {% endif %}

    {% if page.model %}
    <article class="{{ page.model }}">
    {% else %}
    <article>
    {% endif %}

      {% if page.illustrationUrl %}
      <figure class="illustration">
        <img src="{{ page.illustrationUrl | prepend: site.baseurl }}" class="blur" />
        <figcaption>{{page.illustrationLegend}}</figcaption>
      </figure>
      {% endif %}

      <div class="content">
      {{content}}
      </div>

      {% include my-bio.html %}
    </article>

  </div>
</section>
