<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page.title}}</title>

    <!-- Font-Awesome -->
    <link href="{{page.root}}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Asciidoctor assets -->
    <link rel="stylesheet" href="{{page.root}}css/coderay.css"/>
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css"/>

    <!-- Theme CSS -->
    <link href="{{page.root}}css/normalize.css" rel="stylesheet">
    <link href="{{page.root}}css/template.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
</head>

<body id="page-post">

    <!-- Navigation -->

    <nav id="mainNav" class="navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">I'm lovin' I.T.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a href="#">I'm readin' I.T.</a>
              </li>
              <li>
                  <a href="#">I'm tellin' I.T.</a>
              </li>
              <li>
                  <a href="#">I'm inspectin' I.T.</a>
              </li>
              <li class="page-scroll">
                  <a href="#">About Me</a>
              </li>
          </ul>
        </div>
          </div>
    </nav>

    <!-- Header -->
    <header class="post-title post-inspect">
      <!-- see https://www.elastic.co/blog/elasticsearch-5-0-0-released -->
      <div class="container">

          <div class="metadata">
            <span class="date">26 October 2016</span>
            <a class="label" href="/tags/release">Java</a>
            <ul class="language">
              <li><a href="#">FR</a></li>
              <li class="current-language"><a class="active" href="#">EN</a></li>
            </ul>

            <h2>{{page.title}}</h2>
            <p class="author-name">
              <span>By </span>
              <a href="/blog/about-me">Julien Sobczak</a>
            </p>

            <p class="share-label">Share</p>
            <ul class="share-links">
              <li>
                <a href="http://www.facebook.com/sharer.php?u=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/share?url=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="http://reddit.com/submit?url=http://www.imlovinit.fr/2015/03/building-microservices.html&amp;title=Simple Share Buttons" target="_blank">
                  <i class="fa fa-reddit-alien" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/share?url=http://www.imlovinit.fr/2015/03/building-microservices.html&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="content">

      <div class="container">

        <figure class="illustration">
          <img src="{{page.root}}{{page.illustrationUrl}}" class="blur" />
          <figcaption>{{page.illustrationLegend}}</figcaption>
        </figure>

        {{content}}

        <div class="author-bio">
          Author...
        </div>

      </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section class="author">
      <div class="container">

      </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-above">
            <div class="footer-col">
                <h3>Location</h3>
                <p>Lille<br>France</p>
            </div>
            <div class="footer-col">
                <h3>Around the Web</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-below">
            <span>Opinions are my own and don't reflect the views of my employer.</span><br/>
            <span class="manuscript">In addition, as anybody with an open mind, my opinions are likely to change from time to time...</span><br/><br/>
            <small class="copyright">Copyright &copy; Julien Sobczak 2016</small><br/>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{page.root}}vendor/jquery/jquery.min.js"></script>
    <script src="{{page.root}}vendor/jquery/jquery.affix.js"></script>
    <script src="{{page.root}}vendor/jquery/jquery.scrollspy.js"></script>

    <!-- Asciidoctor assets -->
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script>

    <!-- Theme JavaScript -->
    <script src="{{page.root}}js/behavior.js"></script>

</body>

</html>
