---
layout: post
---

<section class="content">

  <div class="container">

    <article>

      <img class="cover" src="{{ page.image }}" />

      <p class="headline">
        {{ page.headline }}
      </p>

      <div class="star">

        <i class="fa fa-star fa-3x" aria-hidden="true"></i>

        {% if page.note >= 9 %}
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
        {% endif %}

        {% if page.note >= 11 %}
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
        {% endif %}

        {% if page.note >= 14 %}
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
        {% endif %}

        {% if page.note >= 17 %}
          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
        {% endif %}

        <hr/>
      </div>

      {% if page.illustrationUrl %}
      <figure class="illustration">
        <img src="{{ page.illustrationUrl | relative_url }}" class="blur" />
        <figcaption>{{page.illustrationLegend}}</figcaption>
      </figure>
      {% endif %}

      <div class="content">
      {{content}}
      </div>

      {% include my-bio.html %}
    </article>

  </div>
</section>
