---
layout: 'page'
---

<header class="post-title post-{{ page.categories }}">
  <!-- see https://www.elastic.co/blog/elasticsearch-5-0-0-released -->
  <div class="container">

    <div class="icon-category">
    </div>

    <div class="metadata">
      <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>

      {% for tag in page.tags %}
      <a href="{{ '/tags/' | append: tag | relative_url }}" class="label">
      {{ tag | capitalize }}
      </a>
      {% endfor %}

      {% for tag in page.unofficialTags %}
      <span class="label">
        {{ tag | capitalize }}
      </span>
      {% endfor %}

      <ul class="language">
        <li class="current-language"><a class="active" href="#">EN</a></li>
      </ul>

      <h2>{{page.title}}</h2>
      {% if page.subtitle %}
      <h3>{{ page.subtitle }}</h3>
      {% endif %}

      <p class="author-name">
        {% if page.category == 'read' %}
        {% comment %} We explicit that the book was not written by the author of the review {% endcomment %}
        <span>A review by </span>
        {% else %}
        <span>By </span>
        {% endif %}
        <a href="/#about-me">{{page.author}}</a>
      </p>

     </div>
    </div>
  </div>
</header>

{{ content }}

{% if page.recommendations %}
<section id="recommendations">
  <div class="container">
    <h2>You may also <strong>&hearts;</strong></h2>
    <hr class="star-light">
    <ul>
    {% for recommendation in page.recommendations %}
      {% for post in site.posts %}
        {% if post.relative_path contains recommendation %}
        <li>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>

          {% for tag in post.tags %}
            <a href="{{ '/tags/' | append: tag | relative_url }}"
              class="label">
              {{ tag | capitalize }}
            </a>
          {% endfor %}
          {% for tag in post.unofficialTags %}
            <span
              class="label">
              {{ tag | capitalize }}
            </span>
          {% endfor %}

          {% if post.subtitle %}
            <span class="subtitle">{{ post.subtitle }}</span>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
