---
layout: post
---

<section class="content">

  <div class="container sticky-container">

    {% include aside-share.html %}
    {% include aside-toc.html %}

    {% if page.model %}
    <article class="{{ page.model }}">
    {% else %}
    <article>
    {% endif %}

      {% if page.illustrationUrl %}
      <figure class="illustration">
        <img src="{{ page.illustrationUrl | prepend: site.baseurl }}" class="blur" />
        <figcaption>{{page.illustrationLegend}}</figcaption>
      </figure>
      {% endif %}

      <div class="content">
      {{content}}
      </div>

      {% include my-bio.html %}
    </article>

  </div>
</section>
