---
layout: 'page'
---

<header class="post-title post-{{ page.categories }}">
  <!-- see https://www.elastic.co/blog/elasticsearch-5-0-0-released -->
  <div class="container">

      <div class="icon-category">
      </div>

      <div class="metadata">
        <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>

        {% for tag in page.tags %}
          <a href="{{ '/tags/' tag | prepend: site.baseurl }}" class="label">{{ tag | capitalize }}</a>
        {% endfor %}

        <ul class="language">
          <!--<li><a href="#">FR</a></li>-->
          <li class="current-language"><a class="active" href="#">EN</a></li>
        </ul>

        <h2>{{page.title}}</h2>
        <p class="author-name">
          <span>By </span>
          <a href="/blog/about-me">{{ page.author }}</a>
        </p>

        <p class="share-label">Share</p>
        <ul class="share-links">
          <li>
            <a href="http://www.facebook.com/sharer.php?u=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.imlovinit.fr/2015/03/building-microservices.html" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="http://reddit.com/submit?url=http://www.imlovinit.fr/2015/03/building-microservices.html&amp;title=Simple Share Buttons" target="_blank">
              <i class="fa fa-reddit-alien" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/share?url=http://www.imlovinit.fr/2015/03/building-microservices.html&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section class="content">

  <div class="container sticky-container">

    <aside class="sticky aside-left aside-links"> <!-- Add optional class to appear on scroll -->
      <span>Browse</span>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-amazon fa-3x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </aside>

    <aside class="sticky aside-right aside-picture">
      <span>Cover</span>
      <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcRdLY9s241byMPY8vjPqc-0F3tqzArdK0Z4hQyNheXSiT6Nh8Xx" />
    </aside>


    <article>
    <p class="headline">
      {{ page.read_headline }}
    </p>

    <div class="note">
      <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      <i class="fa fa-star fa-3x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
      <hr/>
    </div>

    <!-- TODO pertinent?
    <div class="likes">
      <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
      <ul>
        <li>Reference</li>
        <li>Well-Written</li>
        <li>Content</li>
      </ul>
    </div>

    <div class="dislikes">
      <i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
      <ul>
        <li>Outdated</li>
      </ul>
    </div>
    -->

    {% if page.illustrationUrl %}
    <figure class="illustration">
      <img src="{{ page.illustrationUrl | prepend: site.baseurl }}" class="blur" />
      <figcaption>{{page.illustrationLegend}}</figcaption>
    </figure>
    {% endif %}

    <div class="content">
    {{content}}
    </div>

    {% include my-bio.html %}
    </article>

  </div>
</section>
